In [20]:
import requests
import lxml.html as lh
import pandas as pd

In [21]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [22]:
tr_elements = doc.xpath('//tr')
col=[]
i=0
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postcode"
2:"Borough"
3:"Neighbourhood
"

In [23]:
for j in range(1,len(tr_elements)):
    T=tr_elements[j] 
    if len(T)!=3:
        break
    i=0
    for t in T.iterchildren():
        data=t.text_content() 
        if i>0:
            try:
                data=int(data)
            except:
                pass
        col[i][1].append(data)
        i+=1
[len(C) for (title,C) in col]

[287, 287, 287]

In [33]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df.head()
df.columns = ['Postcode','Borough','Neighbourhood']
cols = df.columns.tolist()
df = df[cols]
df.head()

  Postcode           Borough       Neighbourhood
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [34]:
df = df.replace('\n',' ', regex=True)
df.head()

  Postcode           Borough      Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [35]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)
df = df.reset_index(drop=True)
df.head(12)

   Postcode           Borough      Neighbourhood
0       M3A        North York         Parkwoods
1       M4A        North York  Victoria Village
2       M5A  Downtown Toronto      Harbourfront
3       M6A        North York  Lawrence Heights
4       M6A        North York    Lawrence Manor
5       M7A  Downtown Toronto      Queen's Park
6       M9A         Etobicoke  Islington Avenue
7       M1B       Scarborough             Rouge
8       M1B       Scarborough           Malvern
9       M3B        North York   Don Mills North
10      M4B         East York  Woodbine Gardens
11      M4B         East York     Parkview Hill

In [36]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head(12)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                    Rouge ,Malvern
1       M1C  Scarborough            Highland Creek ,Rouge Hill ,Port Union
2       M1E  Scarborough                 Guildwood ,Morningside ,West Hill
3       M1G  Scarborough                                            Woburn
4       M1H  Scarborough                                         Cedarbrae
5       M1J  Scarborough                               Scarborough Village
6       M1K  Scarborough       East Birchmount Park ,Ionview ,Kennedy Park
7       M1L  Scarborough                   Clairlea ,Golden Mile ,Oakridge
8       M1M  Scarborough   Cliffcrest ,Cliffside ,Scarborough Village West
9       M1N  Scarborough                       Birch Cliff ,Cliffside West
10      M1P  Scarborough  Dorset Park ,Scarborough Town Centre ,Wexford ...
11      M1R  Scarborough                                 Maryvale ,Wexford

In [40]:
df.shape

(103, 3)

In [41]:
df.to_csv(r'df_can.csv')